{{#org-detailed}}
<section class="detailed">
  <div class="container">
    <div class="detailed__main">
      <div class="detailed__main__title">
        <h2 class="text-gradient">DETAILED CASE STUDIES COMING SOON</h2>
        <a href="#">Latest work on Dribble</a>
      </div>
      <div class="detailed__main__description">
        <p>Meanwhile, you can see a simple timeline below or view my recent work on Dribbble; I'll be more than happy to
          present
          and talk about the previous projects over a video call.
        </p>
      </div>
      <div class="row">
        {{> ../molecules/detailed-items}}
      </div>
    </div>
  </div>
</section>
{{/org-detailed}}