{{#org-footer}}
<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="row w-100">
        <div class="col-12 col-lg-6">
          <div class="footer__main__copyright">
            <p>© 2019 Liybomyr Prystanskyi All rights reserved</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="footer__main__list">
            <ul>
              <li>
                <a href="#">LinkedIn</a>
              </li>
              <li>
                <a href="#">Twitter</a>
              </li>
              <li>
                <a href="#">Facebook</a>
              </li>
              <li>
                <a href="#">Gmail</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{/org-footer}}