{{#p-index}}
{{> ../head }}
  {{> ../organisms/header}}
  {{> ../organisms/banner}}
  {{> ../organisms/about-me}}
  {{> ../organisms/latest-publications}}
  {{> ../organisms/detailed}}
  {{> ../organisms/get-in-touch}}
  {{> ../organisms/footer}}
{{> ../foot }}
{{/p-index}}