{{#mol-detailed-items}}
{{#items}}
<div class="col-12 col-lg-6">
  <div class="detailed__main__info">
    <h3>{{{title}}}</h3>
    <p>{{{text}}}</p>
  </div>
</div>
<div class="col-12 col-lg-6">
  <div class="detailed__main__info">
    <h3>{{{subtitle}}}</h3>
  </div>
</div>
{{/items}}
{{/mol-detailed-items}}