{{#mol-latest-pr-items}}
{{#item}}
<div class="col-12 col-md-6 col-lg-3">
  <div class="latest__main__item">
    {{#img}}
    <div class="latest__main__item__image">
      <img src="{{{img}}}" alt="{{{alt}}}">
    </div>
    {{/img}}
    
    {{#text}}
    <div class="latest__main__item__text">
      <p>
        {{{text}}}
      </p>
    </div>
    {{/text}}
  </div>
</div>
{{/item}}
{{/mol-latest-pr-items}}